<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccl.wx.mapper.SystemScrollMapper">
  <resultMap id="BaseResultMap" type="com.ccl.wx.entity.SystemScroll">
    <!--@mbg.generated-->
    <!--@Table system_scroll-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scroll_content" jdbcType="VARCHAR" property="scrollContent" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, scroll_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from system_scroll
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from system_scroll
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ccl.wx.entity.SystemScroll" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into system_scroll (scroll_content)
    values (#{scrollContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ccl.wx.entity.SystemScroll" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into system_scroll
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scrollContent != null">
        scroll_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scrollContent != null">
        #{scrollContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccl.wx.entity.SystemScroll">
    <!--@mbg.generated-->
    update system_scroll
    <set>
      <if test="scrollContent != null">
        scroll_content = #{scrollContent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccl.wx.entity.SystemScroll">
    <!--@mbg.generated-->
    update system_scroll
    set scroll_content = #{scrollContent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>