<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccl.wx.mapper.UserDiaryMapper">
    <resultMap id="BaseResultMap" type="com.ccl.wx.entity.UserDiary">
        <!--@mbg.generated-->
        <!--@Table user_diary-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="circle_id" jdbcType="BIGINT" property="circleId"/>
        <result column="theme_id" jdbcType="INTEGER" property="themeId"/>
        <result column="diary_createtime" jdbcType="TIMESTAMP" property="diaryCreatetime"/>
        <result column="diary_updatetime" jdbcType="TIMESTAMP" property="diaryUpdatetime"/>
        <result column="diary_content" jdbcType="LONGVARCHAR" property="diaryContent"/>
        <result column="diary_like" jdbcType="INTEGER" property="diaryLike"/>
        <result column="diary_browse" jdbcType="INTEGER" property="diaryBrowse"/>
        <result column="diary_status" jdbcType="INTEGER" property="diaryStatus"/>
        <result column="diary_comment" jdbcType="INTEGER" property="diaryComment"/>
        <result column="diary_deltime" jdbcType="TIMESTAMP" property="diaryDeltime"/>
        <result column="diary_image" jdbcType="LONGVARCHAR" property="diaryImage"/>
        <result column="diary_address" jdbcType="LONGVARCHAR" property="diaryAddress"/>
        <result column="diary_voice" jdbcType="VARCHAR" property="diaryVoice"/>
        <result column="diary_video" jdbcType="VARCHAR" property="diaryVideo"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, circle_id, theme_id, diary_createtime, diary_updatetime, diary_content,
        diary_like, diary_browse, diary_status, diary_comment, diary_deltime, diary_image,
        diary_address, diary_voice, diary_video
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user_diary
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from user_diary
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ccl.wx.entity.UserDiary"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user_diary (user_id, circle_id, theme_id,
        diary_createtime, diary_updatetime, diary_content,
        diary_like, diary_browse, diary_status,
        diary_comment, diary_deltime, diary_image,
        diary_address, diary_voice, diary_video
        )
        values (#{userId,jdbcType=VARCHAR}, #{circleId,jdbcType=BIGINT}, #{themeId,jdbcType=INTEGER},
        #{diaryCreatetime,jdbcType=TIMESTAMP}, #{diaryUpdatetime,jdbcType=TIMESTAMP},
        #{diaryContent,jdbcType=LONGVARCHAR},
        #{diaryLike,jdbcType=INTEGER}, #{diaryBrowse,jdbcType=INTEGER}, #{diaryStatus,jdbcType=INTEGER},
        #{diaryComment,jdbcType=INTEGER}, #{diaryDeltime,jdbcType=TIMESTAMP}, #{diaryImage,jdbcType=LONGVARCHAR},
        #{diaryAddress,jdbcType=LONGVARCHAR}, #{diaryVoice,jdbcType=VARCHAR}, #{diaryVideo,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ccl.wx.entity.UserDiary"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user_diary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="circleId != null">
                circle_id,
            </if>
            <if test="themeId != null">
                theme_id,
            </if>
            <if test="diaryCreatetime != null">
                diary_createtime,
            </if>
            <if test="diaryUpdatetime != null">
                diary_updatetime,
            </if>
            <if test="diaryContent != null">
                diary_content,
            </if>
            <if test="diaryLike != null">
                diary_like,
            </if>
            <if test="diaryBrowse != null">
                diary_browse,
            </if>
            <if test="diaryStatus != null">
                diary_status,
            </if>
            <if test="diaryComment != null">
                diary_comment,
            </if>
            <if test="diaryDeltime != null">
                diary_deltime,
            </if>
            <if test="diaryImage != null">
                diary_image,
            </if>
            <if test="diaryAddress != null">
                diary_address,
            </if>
            <if test="diaryVoice != null">
                diary_voice,
            </if>
            <if test="diaryVideo != null">
                diary_video,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="circleId != null">
                #{circleId,jdbcType=BIGINT},
            </if>
            <if test="themeId != null">
                #{themeId,jdbcType=INTEGER},
            </if>
            <if test="diaryCreatetime != null">
                #{diaryCreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="diaryUpdatetime != null">
                #{diaryUpdatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="diaryContent != null">
                #{diaryContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="diaryLike != null">
                #{diaryLike,jdbcType=INTEGER},
            </if>
            <if test="diaryBrowse != null">
                #{diaryBrowse,jdbcType=INTEGER},
            </if>
            <if test="diaryStatus != null">
                #{diaryStatus,jdbcType=INTEGER},
            </if>
            <if test="diaryComment != null">
                #{diaryComment,jdbcType=INTEGER},
            </if>
            <if test="diaryDeltime != null">
                #{diaryDeltime,jdbcType=TIMESTAMP},
            </if>
            <if test="diaryImage != null">
                #{diaryImage,jdbcType=LONGVARCHAR},
            </if>
            <if test="diaryAddress != null">
                #{diaryAddress,jdbcType=LONGVARCHAR},
            </if>
            <if test="diaryVoice != null">
                #{diaryVoice,jdbcType=VARCHAR},
            </if>
            <if test="diaryVideo != null">
                #{diaryVideo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ccl.wx.entity.UserDiary">
        <!--@mbg.generated-->
        update user_diary
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="circleId != null">
                circle_id = #{circleId,jdbcType=BIGINT},
            </if>
            <if test="themeId != null">
                theme_id = #{themeId,jdbcType=INTEGER},
            </if>
            <if test="diaryCreatetime != null">
                diary_createtime = #{diaryCreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="diaryUpdatetime != null">
                diary_updatetime = #{diaryUpdatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="diaryContent != null">
                diary_content = #{diaryContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="diaryLike != null">
                diary_like = #{diaryLike,jdbcType=INTEGER},
            </if>
            <if test="diaryBrowse != null">
                diary_browse = #{diaryBrowse,jdbcType=INTEGER},
            </if>
            <if test="diaryStatus != null">
                diary_status = #{diaryStatus,jdbcType=INTEGER},
            </if>
            <if test="diaryComment != null">
                diary_comment = #{diaryComment,jdbcType=INTEGER},
            </if>
            <if test="diaryDeltime != null">
                diary_deltime = #{diaryDeltime,jdbcType=TIMESTAMP},
            </if>
            <if test="diaryImage != null">
                diary_image = #{diaryImage,jdbcType=LONGVARCHAR},
            </if>
            <if test="diaryAddress != null">
                diary_address = #{diaryAddress,jdbcType=LONGVARCHAR},
            </if>
            <if test="diaryVoice != null">
                diary_voice = #{diaryVoice,jdbcType=VARCHAR},
            </if>
            <if test="diaryVideo != null">
                diary_video = #{diaryVideo,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ccl.wx.entity.UserDiary">
        <!--@mbg.generated-->
        update user_diary
        set user_id = #{userId,jdbcType=VARCHAR},
        circle_id = #{circleId,jdbcType=BIGINT},
        theme_id = #{themeId,jdbcType=INTEGER},
        diary_createtime = #{diaryCreatetime,jdbcType=TIMESTAMP},
        diary_updatetime = #{diaryUpdatetime,jdbcType=TIMESTAMP},
        diary_content = #{diaryContent,jdbcType=LONGVARCHAR},
        diary_like = #{diaryLike,jdbcType=INTEGER},
        diary_browse = #{diaryBrowse,jdbcType=INTEGER},
        diary_status = #{diaryStatus,jdbcType=INTEGER},
        diary_comment = #{diaryComment,jdbcType=INTEGER},
        diary_deltime = #{diaryDeltime,jdbcType=TIMESTAMP},
        diary_image = #{diaryImage,jdbcType=LONGVARCHAR},
        diary_address = #{diaryAddress,jdbcType=LONGVARCHAR},
        diary_voice = #{diaryVoice,jdbcType=VARCHAR},
        diary_video = #{diaryVideo,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="concatImage">
        update user_diary set diary_image =
        <choose>
            <when test="flag">
                concat(diary_image, #{imagePath,jdbcType=VARCHAR})
            </when>
            <otherwise>
                concat_ws(",",diary_image, #{imagePath,jdbcType=VARCHAR})
            </otherwise>
        </choose>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-11-14-->
    <select id="countByCircleId" resultType="java.lang.Long">
        select count(1)
        from user_diary
        where circle_id=#{circleId,jdbcType=BIGINT} and diary_status != 2
        <if test="flag">
            and diary_status != #{flag,jdbcType=INTEGER}
        </if>
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-12-12-->
    <select id="selectAllByCircleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_diary
        where circle_id=#{circleId,jdbcType=BIGINT}
    </select>
    <select id="selectAllByCircleIdAndLimit" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_diary
        where circle_id=#{circleId,jdbcType=BIGINT} and diary_status = 0
        <if test="flag">
            and diary_status != #{flag,jdbcType=INTEGER}
        </if>
        order by circle_id, diary_createtime desc
        limit #{start,jdbcType=BIGINT},#{pageNumber,jdbcType=BIGINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-02-07-->
    <select id="countByCircleIdAndUserId" resultType="java.lang.Long">
        select count(1)
        from user_diary
        where circle_id=#{circleId,jdbcType=BIGINT} and user_id=#{userId,jdbcType=VARCHAR} and (diary_status = 0 or diary_status = 1)
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-02-07-->
    <select id="selectAllByCircleIdAndUserIdAndLimit" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_diary
        where circle_id=#{circleId,jdbcType=BIGINT} and user_id=#{userId,jdbcType=VARCHAR} and diary_status != 2
        order by circle_id,diary_createtime desc
        limit #{start,jdbcType=INTEGER},#{pageNumber,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-02-22-->
    <select id="selectIdByDiaryStatus" resultType="java.lang.Long">
        select id
        from user_diary
        where diary_status=#{diaryStatus,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-03-04-->
    <update id="updateDiaryBrowseById">
        update user_diary
        set diary_browse=diary_browse+#{updatedDiaryBrowse,jdbcType=INTEGER}
        where id=#{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-03-09-->
    <select id="selectAllByThemeIdAndDiaryStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_diary
        where theme_id=#{themeId,jdbcType=INTEGER} and diary_status=#{diaryStatus,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-03-09-->
    <select id="selectAllByThemeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_diary
        where theme_id=#{themeId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-03-09-->
    <update id="updateDiaryStatusByThemeId">
        update user_diary
        set diary_status=#{updatedDiaryStatus,jdbcType=INTEGER}
        where theme_id=#{themeId,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-03-10-->
    <select id="selectAllByUserIdAndCircleIdAndDiaryCreatetimeLikeAndDiaryStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_diary
        where user_id=#{userId,jdbcType=VARCHAR} and circle_id=#{circleId,jdbcType=BIGINT} and diary_createtime like
        concat(#{likeDiaryCreatetime,jdbcType=VARCHAR},'%') and diary_status!=#{diaryStatus,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-03-10-->
    <select id="countByUserIdAndCircleId" resultType="java.lang.Integer">
        select count(1)
        from user_diary
        where datediff(diary_createtime, now()) = 0 and user_id=#{userId,jdbcType=VARCHAR} and
        circle_id=#{circleId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-03-10-->
    <select id="countByUserIdAndCircleIdAndThemeId" resultType="java.lang.Integer">
        select count(1)
        from user_diary
        where datediff(diary_createtime, now()) = 0 and user_id=#{userId,jdbcType=VARCHAR} and
        circle_id=#{circleId,jdbcType=BIGINT} and
        theme_id=#{themeId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-03-11-->
    <select id="countByUserIdAndCircleIdAndDiaryCreatetimeLike" resultType="java.lang.Integer">
        select count(1)
        from user_diary
        where user_id=#{userId,jdbcType=VARCHAR} and circle_id=#{circleId,jdbcType=BIGINT} and diary_createtime like
        concat(#{likeDiaryCreatetime,jdbcType=VARCHAR},'%')
    </select>
    <select id="countThemeUserNumberByDate" resultType="int">
        select count(distinct user_id)
        from user_diary
        where circle_id = #{circleId,jdbcType=BIGINT} and date_format(diary_createtime, '%Y%m%d') =
        #{date,jdbcType=VARCHAR} and (diary_status = 0 or diary_status = 1)
    </select>
    <select id="selectUserSignInIdByDate" resultType="java.lang.String">
        select user_id
        from user_diary
        where circle_id = #{circleId,jdbcType=BIGINT} and date_format(diary_createtime,'%Y%m%d') =
        #{date,jdbcType=VARCHAR} and (diary_status = 0 or diary_status = 1)
        group by user_id
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-03-24-->
    <select id="countByThemeIdAndDiaryStatus" resultType="java.lang.Integer">
        select count(1)
        from user_diary
        where theme_id=#{themeId,jdbcType=INTEGER} and (diary_status=0 or diary_status=1)
    </select>
</mapper>