<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccl.wx.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.ccl.wx.entity.UserInfo">
        <!--@mbg.generated-->
        <!--@Table user_info-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="nickName" jdbcType="VARCHAR" property="nickname"/>
        <result column="avatarUrl" jdbcType="VARCHAR" property="avatarurl"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, nickName, avatarUrl, gender, province, city, country, createtime, updatetime,
        user_id, `uid`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user_info
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from user_info
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.ccl.wx.entity.UserInfo">
        <!--@mbg.generated-->
        insert into user_info (id, nickName, avatarUrl,
        gender, province, city,
        country, createtime, updatetime,
        user_id, `uid`)
        values (#{id,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{avatarurl,jdbcType=VARCHAR},
        #{gender,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
        #{country,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP},
        #{userId,jdbcType=BIGINT}, #{uid,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.ccl.wx.entity.UserInfo" useGeneratedKeys="true" keyProperty="userId"
            keyColumn="userId">
        <!--@mbg.generated-->
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="nickname != null">
                nickName,
            </if>
            <if test="avatarurl != null">
                avatarUrl,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="uid != null">
                `uid`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="avatarurl != null">
                #{avatarurl,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ccl.wx.entity.UserInfo">
        <!--@mbg.generated-->
        update user_info
        <set>
            <if test="nickname != null">
                nickName = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="avatarurl != null">
                avatarUrl = #{avatarurl,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
                `uid` = #{uid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ccl.wx.entity.UserInfo">
        <!--@mbg.generated-->
        update user_info
        set nickName = #{nickname,jdbcType=VARCHAR},
        avatarUrl = #{avatarurl,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=VARCHAR},
        province = #{province,jdbcType=VARCHAR},
        city = #{city,jdbcType=VARCHAR},
        country = #{country,jdbcType=VARCHAR},
        createtime = #{createtime,jdbcType=TIMESTAMP},
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
        user_id = #{userId,jdbcType=BIGINT},
        `uid` = #{uid,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-10-08-->
    <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where 1=1
        <if test="id != null">
            and id=#{id,jdbcType=VARCHAR}
        </if>
        <if test="nickname != null">
            and nickName=#{nickname,jdbcType=VARCHAR}
        </if>
        <if test="avatarurl != null">
            and avatarUrl=#{avatarurl,jdbcType=VARCHAR}
        </if>
        <if test="gender != null">
            and gender=#{gender,jdbcType=VARCHAR}
        </if>
        <if test="province != null">
            and province=#{province,jdbcType=VARCHAR}
        </if>
        <if test="city != null">
            and city=#{city,jdbcType=VARCHAR}
        </if>
        <if test="country != null">
            and country=#{country,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null">
            and createtime=#{createtime,jdbcType=TIMESTAMP}
        </if>
        <if test="updatetime != null">
            and updatetime=#{updatetime,jdbcType=TIMESTAMP}
        </if>
    </select>
    <select id="selectMaxUserId" resultType="java.lang.Integer">
        select max(user_id)
        from user_info
    </select>
</mapper>