<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人分享</title>
</head>
<style>
    .buttom a {
        text-decoration: none;
    }

    .buttom {
        text-align: center;
        position: fixed;
        color: #C1BBC1;
        width: 100%;
        font-size: 16px;
        background-color: #FAFAFA;
        padding: 10px;
        bottom: 0px;
    }
</style>
<body style="margin: 0">
<div style="text-align: center">
    <img src="http://www.ccllove.club/wx/default/demo.png">
</div>
<div class="buttom">
    <a href="http://beian.miit.gov.cn/">冀ICP备19034261号-1</a>
    <a>@2020CCL</a>
</div>
</body>
</html>